img {
    width: 200px;
}

.speech {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
}

.direction {
    background-color: lightyellow;
}

.direction:hover {
    background-color: blue;
    color: white;
}

.name {
    font-weight: bold;
}

.name:hover {
    text-shadow: 2px 2px 4px yellow;
    border: lime 2px solid;
}

.manders {
    color: orangered;
}

.oswald {
    color: green;
}

.mrsAlving {
    color: magenta;
}   

table {
    border-collapse: collapse;
    margin: 2em;
}

td, th {
    border: black 1px solid;
    padding: 1em;
}
th {
    text-align: center;
    color: palevioletred;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

nav ul {
    list-style-type: none;
    padding: 0px;   
    margin: 0px;
}

nav ul li {
    float: left;
    border: black 1px solid;
}

nav ul li a {
    display: block;
    padding: 0.5em 1em;
}