.speech {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
}

.direction {
    background-color: lightyellow;
}

.direction:hover {
    background-color: blue;
    color: white;
}

.name {
    font-weight: bold;
}

.manders {
    color: orangered;
}

.oswald {
    color: green;
}

.mrsAlving {
    color: magenta;
}   